.DS_Store
.Rproj.user/
*.Rproj
.Rhistory
.RData
.RDataTmp
.Ruserdata
*.RData
*.rds
*.csv
*.qs
*.feather
*.parquet
*.sqlite
*.db
db_credentials.txt
SAMHE_core_files/db_credentials.txt
SAMHE_core_files/external_tables/
SAMHE_core_files/IAQ_monthly_outputs/
SAMHE_core_files/OUT_OF_DATE_Cleaned_datasets/
SAMHE_core_files/term_nh_dates/
